<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<div class="container">

    <div id="output-case">
        <pre id="output">
            {{ range $message := .messages }}
                <i>{{ $message.User }}</i> {{ $message.Message }}
            {{end}}
        </pre>
    </div>


    <div class="input-group input-group-lg" id="input-form">
        <input id="input" type="text" class="form-control" aria-label="Large" aria-describedby="inputGroup-sizing-sm">
        <div class="input-group-append">
            <button onclick="send()" class="btn btn-outline-primary" type="button">Send</button>
        </div>
    </div>

    <!-- the messages will be shown here -->


</div>


<!-- import the iris client-side library for browser-->
<script src="/iris-ws.js"></script>

<script>
    var scheme = document.location.protocol === "https:" ? "wss" : "ws";
    var port = document.location.port ? (":" + document.location.port) : "";
    // see app.Get("/echo", ws.Handler()) on main.go
    var wsURL = scheme + "://" + document.location.hostname + port+"/echo";

    var input = document.getElementById("input");
    var output = document.getElementById("output");

    // Ws comes from the auto-served '/iris-ws.js'
    var socket = new Ws(wsURL);
    socket.OnConnect(function () {
        console.log("Status: Connected\n");
    });

    socket.OnDisconnect(function () {
        console.log("Status: Disconnected\n");
    });

    var user_added = 'mike';

    // read events from the server
    socket.On("chat", function (response) {
        response = JSON.parse(response);
        addMessage(response.message, response.user);
    });

    function send() {
        addMessage(input.value, user_added); // write ourselves

        var request = {user: user_added, message: input.value};

        socket.Emit("chat", JSON.stringify(request));// send chat event data to the websocket server
        input.value = ""; // clear the input
    }

    function addMessage(msg, user_added) {
        output.innerHTML += user_added + ":" + msg + "\n";
    }

</script>
</body>
<style>
    #input-form {
        position: absolute;
        bottom: 20px;
        max-width: 930px;
    }
</style>
</html>